@charset "UTF-8";

@font-face {
    font-family: 'Barlow Condensed';
    src: url('Barlow_Condensed/BarlowCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

body {
    background-color: #7AE6B0;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

header {
    background-image: linear-gradient(#54E07E, #41614B);
    padding: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1.principal {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    height: 40px;
}

p.principal {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 13px;
    color: rgba(255, 255, 255, 0.9);
    height: 35px;
    text-indent: 0%;
}

nav {
    text-align: left;
}

nav > a {
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 6px;
    color: white;
}

main {
    background-color: white;
    color: black;
    font-size: 16px;
    text-align: justify;
    line-height: 22px;
    max-width: 800px;
    padding: 20px 15px;
    margin: auto;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: 'Idroid', sans-serif;
    color: green;
    margin-top: 0px;
}

h2 {
    background-image: linear-gradient(to right, rgb(170, 231, 190), white);
    font-family: 'Idroid', sans-serif;
    color: green;
    padding: 5px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: green;
}

p {
    text-indent: 30px;
}

div {
    text-align: center;
    margin: auto;
}

div#video {
    background-color: rgb(46, 97, 60);
    padding: 30px;
    max-width: 771px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}

section {
    background-color: white;
    padding: 20px 15px 20px 15px;
    margin: auto;
    max-width: 800px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}

aside {
    background-color: rgb(140, 230, 175);
    border-radius: 0px 0px 10px 10px;
    max-width: 780px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin: auto;
    text-align: justify;
}

ul {
    display: inline-block;
    list-style: none;
    padding-bottom: 25px;
    padding-left: 0px;
    margin: 0px;
    width: 345px;
}

li {
    padding-left: 16px;
}

li::before {
    content: '✔';
    padding-right: 8px;
}

div.mais {
    max-width: 784px
}

p.cabecalho {
    padding: 9px 9px 9px 18px;
    background-color: green;
    color: white;
    text-align: left;
    margin: auto;
    max-width: 780px;
    text-indent: 0px;
    border-radius: 10px 10px 0px 0px;
}

p.extra {
    padding: 0px 17px;
}

strong {
    color: green;
}

footer {
    background-color: rgb(46, 97, 60);
}

p.footer {
    padding: 8px;
    text-align: center;
    font-size: 13px;
    color: white;
    margin-bottom: 0px;
}

strong.rodape {
    color: white;
}

